@import url('https://rsms.me/inter/inter.css');

body {
  background: #191765;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-text {
  height: 1rem;
  left: 12px;
  top: 10px;
  margin: 20px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #fff;
  display: inline-block;
}

.header-icon {
  color: #fff;
  margin: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
}

.background-image-top-left {
  background: #edecff;
  background-image: url("./images/elipse-top-left.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: 6rem;
  filter: blur(50px);
  overflow-x: hidden;
}

.headline-text-1 {
  margin-left: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.headline-text-2 {
  margin-left: 24px;
  margin-top: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #edecff;
}

.headline-2 {
  display: flex;
  flex-direction: column;
}

.headline-text-3 {
  margin-left: 24px;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #c8c8d4;
}

.dividing-line {
  margin-top: 10px;
  overflow: hidden;
  border-bottom: 1px solid #646369;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.skill-item {
  padding: 5px;
  width: 40%;
}

.skill-item-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.skill-item-language {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #f5f5ff;
}

.background-image-middle-right {
  background: #edecff;
  background-image: url("./images/elipse-middle-right.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 68px;
  height: 68px;
  left: 19rem;
  top: 495px;
  filter: blur(50px);
}

.social a {
  color: #dbd8d7;
}

.see-project-button a {
  color: white;
  text-decoration: none;
}
.see-project-button a:hover {
  text-decoration: none;
  color: red;
}

.social a:hover {
  color: black;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-left: 34px;
}

.social-icon {
  flex: 2;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.work-arrow-container {
  display: flex;
  justify-content: center;
}

.work-arrow {
  background: #191765;
  background-image: url("./images/work-arrow.jpg");
  width: 1.125rem;
  height: 22px;
  left: 2px;
  top: 9.35px;
  margin: 20px 12px;
  text-align: center;
}

.work-arrow-text {
  display: inline;
  width: 47px;
  height: 32px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #a2a3ae;
}

.works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  gap: 10px;
}

.elipse-multi-post {
  background: #edecff;
  background-image: url("./images/elipse-multi-post.jpg");
  position: absolute;
  width: 49.61px;
  height: 482.57px;
  left: -42.04px;
  top: 1464.71px;
  filter: blur(50px);
  transform: rotate(-36.38deg);
}

.elipse-multi-post-2 {
  background: #edecff;
  background-image: url("./images/elipse-multi-post-2.jpg");
  position: absolute;
  width: 58.28px;
  height: 261.6px;
  left: 237.27px;
  top: 2227.23px;
  filter: blur(40px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  overflow: hidden;
}

.elipse-multi-post-3 {
  background: rgba(207, 186, 235, 0.3);
  background-image: url("./images/elipse-multi-post-3.jpg");
  position: absolute;
  width: 308px;
  height: 155px;
  left: -93px;
  top: 3174px;
  filter: blur(70px);
}

.elipse-multi-post-4 {
  background: #edecff;
  background-image: url("./images/elipse-multi-post-4.jpg");
  position: absolute;
  width: 41.29px;
  height: 357.04px;
  left: 190.22px;
  top: 3853px;
  filter: blur(45px);
  background-size: cover;
  transform: matrix(-0.22, 0.85, 0.85, 0.26, 0, 0);
}

.works-headline {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  color: #9490ff;
}

.work-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-card-heading {
  width: 20rem;
  height: 55px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.work-card-description {
  position: static;
  width: 300px;
  height: 204px;
  left: 1px;
  top: 50px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #dcdce8;
}

.work-card-skills-container {
  display: flex;
  flex-wrap: wrap;
}

.work-card-skills-description {
  margin: 5px;
  padding: 8px;
  border-right: 1px solid #555;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  color: #fff;
}

.see-project-button {
  width: 89px;
  height: 48px;
  margin-top: 18px;
  margin-bottom: 10px;
  align-self: flex-start;
  background: #7d73fc;
  display: flex;
}

.see-project-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  padding-left: 15px;
  padding-right: 2px;
  padding-top: 4px;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
  text-align: center;
  color: #edecff;
}
